.comment-box {
  padding: 20px 0 40px;
  position: relative;
  background-color: #fff;
}
.comment-title {
  font-size: 22px;
  margin: 40px 0 10px;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}